.editorconfig
eslint.config.js
.eslintignore
.eslintrc.js
.eslintrc.cjs
.gitignore
.npmignore
.prettierignore
.prettierrc.json
tsconfig.json
updates.config.js

node_modules
.github
.vscode
test.ts

/source
/test